.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
}
.footer-text {
  max-width: 264px;
}
.footer-logo,
.footer-text {
  color: #f4f4fd;
}
